{
  "presets": [
    "@babel/preset-env",
    "@babel/preset-typescript"
  ],
  "comments": false,
  "plugins": [
    ["@babel/plugin-proposal-decorators",{ "legacy" : true}],
    ["@babel/plugin-proposal-class-properties", { "loose" : true }],
    "source-map-support"
  ],
  "env":  {
    "testremoveme": {
      "plugins": ["@babel/plugin-transform-modules-commonjs"]
    }
  }
}
