@import "node_modules/bootswatch/dist/darkly/variables";

.quill {
  background: $dark !important;
  .ql-editor {
    color: $light !important;
  }
  .ql-toolbar {
    .ql-stroke {
      stroke: $light;
    }
    .ql-fill {
      fill: $light;
    }
    .ql-picker {
      color: $light;
    }
    .ql-picker-options {
      background: $dark;
    }
  }
}
.quill.quill-no-toolbar {
  .ql-toolbar {
    display: none;
  }
  .ql-toolbar.ql-snow + .ql-container.ql-snow {
    border-top: 0;
  }
  .ql-editor {
    padding: 0;
    min-height: auto;
  }
}
